.footer {
  margin-top: 70px;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.footer-content p {
  margin: 0;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-media li a {
  color: white;
  text-decoration: none;
}

.social-media li a:hover {
  text-decoration: underline;
}
