.video-item{
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 40px;
}

.video-item .video{
    width: 920px;
}

@media screen and (max-width:768px) {
    .video-item .video{
        width: 100%;
    }
    .video-item{
        margin: 30px 20px;
    }
    
}